<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="perSONA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <perSONA.Properties.Settings>
            <setting name="RESULTS_FOLDER" serializeAs="String">
                <value>Selecione uma pasta e salve a alteração</value>
            </setting>
            <setting name="SERIAL_KEY" serializeAs="String">
                <value>PTMGF-28VKB-2W934-482QH-98623</value>
            </setting>
            <setting name="DEMO_VERSION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FIRST_USE_DATA" serializeAs="String">
                <value>2019-10-07</value>
            </setting>
            <setting name="FIRST_USE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CALIBRATION_MODE" serializeAs="String">
                <value />
            </setting>
            <setting name="REPRODUCTION_MODE" serializeAs="String">
                <value />
            </setting>
            <setting name="CALIBRATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ITERATOR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPEAKER_VOLUME" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EARPHONE_VOLUME" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EQUIPMENTS_TABLE_LOCATION" serializeAs="String">
                <value>data/Equipments.xlsx</value>
            </setting>
        </perSONA.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.2.0" newVersion="2.11.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>