<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="perSONA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <perSONA.Properties.Settings>
            <setting name="RESULTS_FOLDER" serializeAs="String">
                <value>data/</value>
            </setting>
            <setting name="USERVOLUME" serializeAs="String">
                <value>25</value>
            </setting>
        </perSONA.Properties.Settings>
    </userSettings>
</configuration>